.card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border: 1px solid lightgray;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: calc(100% - 16px);
  height: 200px;
  margin-inline: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.url {
  font-size: 0.75rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  line-height: 1.4;
}
