.card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 1rem;
}

.img {
  width: 100%;
  max-height: 200px;
}

.url {
  font-size: 0.75rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
}

.description {
  font-size: 1rem;
}
