.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  background-color: white;
  position: relative;
  min-height: 62px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-weight: 600;
}

.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem;
}

.logo {
  padding-top: 4px;
}

.accountContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .titleContainer {
    flex-direction: row;
  }

  .searchContainer {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
    gap: 2rem;
  }

  .accountContainer {
    position: inherit;
  }
}
