.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: #f8f9fa;
  text-align: center;
  padding: 1.5rem 3rem;
  font-size: 0.875rem;
}

@media (max-width: 400px) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
