.form {
  width: 100%;
}

.formBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 1.5rem;
  max-width: 584px;
  min-height: 44px;
}

.input {
  width: 100%;
  padding: 0.75rem;
}

.searchIcon {
  padding: 0.75rem;
}

.clearButton {
  background: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  color: #666;
  visibility: hidden;
  font-weight: 600;
}

.clearButton:not(:disabled) {
  visibility: visible;
}
