.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 1.5rem;
  max-width: 584px;
}

.input {
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.searchIcon {
  padding: 0.25rem 0.5rem;
}

.clearButton {
  background: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
  color: #666;
  visibility: hidden;
  font-weight: 600;
}

@media (min-width: 600px) {
  .clearButton {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  .searchIcon {
    padding: 0.75rem;
  }
  .input {
    padding: 0.75rem;
  }
}

.clearButton:not(:disabled) {
  visibility: visible;
}

.submitButton {
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.submitButton:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.submitButton:disabled {
  background-color: #f8f8f8;
  cursor: default;
  box-shadow: none;
}
